<%= form_with models: [@golf_score, @golf_location] do |form| %>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <div class="option date_option">
        <%= form.label :date, class: 'input_title' %>
        <%= form.date_field :date %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="option">
        <%= form.label :hole_1, class: 'input_title' %>
        <%= form.number_field :hole_1 %>
      </div>
      <div class="option">
        <%= form.label :hole_2, class: 'input_title' %>
        <%= form.number_field :hole_2 %>
      </div>
      <div class="option">
        <%= form.label :hole_3, class: 'input_title' %>
        <%= form.number_field :hole_3 %>
      </div>
      <div class="option">
        <%= form.label :hole_4, class: 'input_title' %>
        <%= form.number_field :hole_4 %>
      </div>
      <div class="option">
        <%= form.label :hole_5, class: 'input_title' %>
        <%= form.number_field :hole_5 %>
      </div>
      <div class="option">
        <%= form.label :hole_6, class: 'input_title' %>
        <%= form.number_field :hole_6 %>
      </div>
      <div class="option">
        <%= form.label :hole_7, class: 'input_title' %>
        <%= form.number_field :hole_7 %>
      </div>
      <div class="option">
        <%= form.label :hole_8, class: 'input_title' %>
        <%= form.number_field :hole_8 %>
      </div>
      <div class="option">
        <%= form.label :hole_9, class: 'input_title' %>
        <%= form.number_field :hole_9 %>
      </div>
      <div class="option">
        <%= form.label :out, class: 'input_title' %>
        <%= form.number_field :out %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="option">
        <%= form.label :hole_10, class: 'input_title' %>
        <%= form.number_field :hole_10 %>
      </div>
      <div class="option">
        <%= form.label :hole_11, class: 'input_title' %>
        <%= form.number_field :hole_11 %>
      </div>
      <div class="option">
        <%= form.label :hole_12, class: 'input_title' %>
        <%= form.number_field :hole_12 %>
      </div>
      <div class="option">
        <%= form.label :hole_13, class: 'input_title' %>
        <%= form.number_field :hole_13 %>
      </div>
      <div class="option">
        <%= form.label :hole_14, class: 'input_title' %>
        <%= form.number_field :hole_14 %>
      </div>
      <div class="option">
        <%= form.label :hole_15, class: 'input_title' %>
        <%= form.number_field :hole_15 %>
      </div>
      <div class="option">
        <%= form.label :hole_16, class: 'input_title' %>
        <%= form.number_field :hole_16 %>
      </div>
      <div class="option">
        <%= form.label :hole_17, class: 'input_title' %>
        <%= form.number_field :hole_17 %>
      </div>
      <div class="option">
        <%= form.label :hole_18, class: 'input_title' %>
        <%= form.number_field :hole_18 %>
      </div>
      <div class="option">
        <%= form.label :in, class: 'input_title' %>
        <%= form.number_field :in %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= form.label :handicap_comp %>
      <%= form.number_field :handicap_comp %>
    </div>
    <div class="col-md-3">
      <%= form.label :competition %>
      <%= form.check_box(:competition, {}, nil) %>
    </div>
    <div class="col-md-3">
      <%= form.label :location %>
      <%= form.text_field :location %>
    </div>
  </div>
  <div>
    <%= form.submit({class: 'btn button'}) %>
  </div>
<% end %>