<div class="container golf_score_content">
  <div class="row">
    <h3 class="section_title">Golf Score table</h3>
  </div>
  <div class="row">
    <p class="golf_score_info">Personal Handicap: 32hcp</p>
  </div>
  <div class="row main_box">
    <div class="col-md-1 date_box_title">
      <p>Date</p>
    </div>
    <div class="col-md-9">
      <div class="row box_title">
        <div class="col-md-10 sub_box_title" id="added_border">
          <p>Hole scores</p>
        </div>
        <div class="col-md-2 sub_box_title">
          <p>Totals</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-1 hole_box">
              1
            </div>
            <div class="col-md-1 hole_box">
              2
            </div>
            <div class="col-md-1 hole_box">
              3
            </div>
            <div class="col-md-1 hole_box">
              4
            </div>
            <div class="col-md-1 hole_box">
              5
            </div>
            <div class="col-md-1 hole_box">
              6
            </div>
            <div class="col-md-1 hole_box">
              7
            </div>
            <div class="col-md-1 hole_box">
              8
            </div>
            <div class="col-md-1 hole_box">
              9
            </div>
            <div class="col-md-1 hole_box">
              Out
            </div>
            <div class="col-md-1 hole_box">
              10
            </div>
            <div class="col-md-1 hole_box">
              11
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-1 hole_box">
              12
            </div>
            <div class="col-md-1 hole_box">
              13
            </div>
            <div class="col-md-1 hole_box">
              14
            </div>
            <div class="col-md-1 hole_box">
              15
            </div>
            <div class="col-md-1 hole_box">
              16
            </div>
            <div class="col-md-1 hole_box">
              17
            </div>
            <div class="col-md-1 hole_box">
              18
            </div>
            <div class="col-md-1 hole_box">
              In
            </div>
            <div class="col-md-1 hole_box">
              Course
            </div>
            <div class="col-md-1 hole_box">
              Handicap
            </div>
            <div class="col-md-2 hole_box">
              Net
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1 side_box_title">
      <p>Competition</p>
    </div>
    <div class="col-md-1 side_box_title">
      <p>Location</p>
    </div>
  </div>
  <% @golf_scores.each do |golf_score| %>
    <div class="row score_box">
      <div class="col-md-1 date_box_title">
      <p><%= golf_score.date %></p>
    </div>
      <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_1 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_2 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_3 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_4 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_5 %>
            </div>
            <div class="col-md-1 hole_box">
            <%= golf_score.hole_6 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_7 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_8 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_9 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.out %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_10 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_11 %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_12 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_13 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_14 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_15 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_16 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_17 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.hole_18 %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.in %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.total %>
            </div>
            <div class="col-md-1 hole_box">
              <%= golf_score.handicap_comp %>
            </div>
            <div class="col-md-2 hole_box">
              Net
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-1 side_box_title">
        <%= golf_score.competition %>
      </div>
      <div class="col-md-1 side_box_title">
        <%= yield 'golf_locations#index' %>
      </div>
      <%= link_to "Edit", edit_golf_score_path(@golf_score), class: 'btn button' %>
      <%= link_to "Destroy", golf_path(@golf_score), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn button' %>
    </div>
  <% end %>
  <%= link_to "New Golf Score", new_golf_score_path, class: 'btn button', id: 'new_golf_score' %>
</div>