<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>PersonalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/8a2b01bd35.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <main id="main">
      <%= yield %>
    </main>
  </body>
</html>
